body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "googleJua";
  src: url(./assets/fonts/Jua\,Nanum_Gothic/Jua/Jua-Regular.ttf);
}

@font-face {
  font-family: "googleNanumgothic";
  src: url(./assets/fonts/Jua\,Nanum_Gothic/Nanum_Gothic/NanumGothic-Regular.ttf);
}

:root{
  --font-googleJua: "googleJua";
  --font-googleNanumgothic:"googleNanumgothic";
}